#loader {
  display: none;
}

div.partlink1:hover div {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8078881d,endColorstr=#8078881d);
  zoom: 1;
}

div.partlink2:hover div {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c88115,endColorstr=#80c88115);
  zoom: 1;
}

div.partlink3:hover div {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8037415f,endColorstr=#8037415f);
  zoom: 1;
}

body.part1 #yoxview_infoPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8078881d,endColorstr=#8078881d);
  zoom: 1;
}

body.part1 #yoxview #yoxview_menuPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8078881d,endColorstr=#8078881d);
  zoom: 1;
}

body.part2 #yoxview_infoPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c88115,endColorstr=#80c88115);
  zoom: 1;
}

body.part2 #yoxview #yoxview_menuPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80c88115,endColorstr=#80c88115);
  zoom: 1;
}

body.part3 #yoxview_infoPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8037415f,endColorstr=#8037415f);
  zoom: 1;
}

body.part3 #yoxview #yoxview_menuPanel {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8037415f,endColorstr=#8037415f);
  zoom: 1;
}

.part-container {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5ffffff,endColorstr=#e5ffffff);
  zoom: 1;
}
