body {
  background-color: #363636;
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 center;
}

.clear {
  clear: both;
  font-size: 0.1em;
}

.document-slider-container {
  padding: 20px;
  margin-bottom: 15px;
}

.document-slider-container .document-slider {
  text-align: center;
  text-indent: 0;
}

.document-slider-container .document-slider a {
  margin-right: 15px;
  margin-bottom: 15px;
}

.document-slider-container .document-slider :last-child {
  margin-right: 0;
}

.exhibition-name,
.part1-name,
.part2-name,
.part3-name,
.exhibition-nav li {
  color: #fff;
  font-family: Arial, sans;
  font-weight: lighter;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
  z-index: 1;
}

.exhibition-nav {
  line-height: inherit;
}

.exhibition-nav li {
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
  margin-left: 10px;
  float: right;
}

.exhibition-name,
.part1-name,
.part2-name,
.part3-name {
  position: fixed;
  font-size: 2.5em;
  z-index: 1;
}

.exhibition-name,
.part1-name,
.part2-name,
.part3-name {
  left: 20px;
  bottom: 35px;
}

.exhibition-name a,
.part1-name a,
.part2-name a,
.part3-name  a,
.exhibition-nav a {
  color: #fff;
  text-decoration: underline;
}

.exhibition-name,
.exhibition-nav li.link-to-home {
  background-color: #b0461c;
}

.part1-name,
.exhibition-nav li.link-to-part1 {
  background-color: #78881d;
}

.part2-name,
.exhibition-nav li.link-to-part2 {
  background-color: #c88115;
}

.part3-name,
.exhibition-nav li.link-to-part3 {
  background-color: #37415f;
}

#loader {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #363636;
  padding: 20px 5px;
  margin-bottom: 1em;

  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -khtml-background-size: 100% 100%;
  background-size: 100% 100%;
 
  background: -moz-linear-gradient(top,#363636,#a7a6a0);
  background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#a7a6a0));
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#363636,endColorstr=#a7a6a0,GradientType=0); zoom: 1;
  background: linear-gradient(top,#363636,#a7a6a0);
 
  background-clip: border-box; -moz-background-clip: border; -webkit-background-clip: border-box;
  background-origin: border-box; -moz-background-origin: border; -webkit-background-origin: border-box;

  z-index: 2;
}

#loader .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/loader.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader .anim {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/loader-anim.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

div.partlink {
  float: left;
  width: 250px;
  height: 250px;
  /*border-radius: 100%;*/
  border-top-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 5px;
  border-style: solid;
}

div.partlink:hover {
  border: none;
}

div.partlink:hover,
div.partlink:hover div{
  border-radius: 5%;
}

div.partlink a {
  color: #fff;
}

div.partlink div {
  position: relative;
  display: none;
}

div.partlink:hover div {
  display: block;
  font-family: Arial;
  height: 100%;
  width: 100%;
  color: #fff;
  font-weight: lighter;
  font-size: 1.5em;
}

div.partlink:hover div p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
}

.parts-list {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -405px;
  margin-top: -125px;
}

div.partlink1:hover div {
  background-color: rgba(120, 136, 29, .6);
}

div.partlink2:hover div {
  background-color: rgba(200, 129, 21, .6);
}

div.partlink3:hover div {
  background-color: rgba(55, 65, 95, .6);
}

.partlink1 {
  border-color: #78881d;
  background-image: url("../images/bg_partlink1.jpg");
}

.partlink2 {
  border-color: #c88115;
  background-image: url("../images/bg_partlink2.jpg");
}

.partlink3 {
  border-color: #37415f;
  background-image: url("../images/bg_partlink3.jpg");
}

body.part1 .th:hover,
body.part1 .th:focus {
  -webkit-box-shadow: 0 0 6px 1px rgba(120, 136, 29, .85);
  box-shadow: 0 0 6px 1px rgba(120, 136, 29, .85);
}

body.part1 #yoxview_infoPanel {
  background-color: rgba(120, 136, 29, .9) !important;
}

body.part1 #yoxview #yoxview_menuPanel
{ 
  background: rgba(120, 136, 29, 0.8);
}

body.part2 .th:hover,
body.part2 .th:focus {
  -webkit-box-shadow: 0 0 6px 1px rgba(200, 129, 21, .85);
  box-shadow: 0 0 6px 1px rgba(200, 129, 21, .85);
}

body.part2 #yoxview_infoPanel {
  background-color: rgba(200, 129, 21, .9) !important;
}

body.part2 #yoxview #yoxview_menuPanel { 
  background: rgba(200, 129, 21, 0.8);
}

body.part3 .th:hover,
body.part3 .th:focus {
  -webkit-box-shadow: 0 0 6px 1px rgba(55, 65, 95, .85);
  box-shadow: 0 0 6px 1px rgba(55, 65, 95, .85);
}

body.part3 #yoxview_infoPanel {
  background-color: rgba(55, 65, 95, .9) !important;
}

body.part3 #yoxview #yoxview_menuPanel
{ 
  background: rgba(55, 65, 95, 0.8);
}

#yoxview_infoPanel #yoxview_infoText a,
#yoxview .yoxview_error a {
  color: #fff !important;
}

.part-container {
  background-color: rgba(255, 255, 255, .9);
  margin-top: 20px;
  margin-bottom: 150px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 50px;
  padding-bottom: 50px;

  border-top-left-radius: 5em;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5em;
}

.part-container p {
  text-align: justify;
  text-indent: 2em;
}